.ant-list {
  &-item {
    position: relative;
    padding: 6px 14px !important;
    transition: background 0.1s;
    user-select: none;

    &:hover {
      border-color: transparent;
      background-color: rgba($color: #c9cdd4, $alpha: 0.3);
    }
  }

  &-item-meta {
    &-avatar {
      margin-inline-end: 8px !important;
    }
    &-title {
      margin: 0 !important;
      .ant-badge {
        width: 100%;
      }
    }
    &-description {
      max-width: 161px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list {
  &-info-time {
    position: absolute;
    top: 12px;
    right: 10px;
    font-weight: 400;
  }

  &-avatar {
    position: relative;
  }

  &-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
