@import '@/assets/color.scss';

.forget {
  height: 100vh;
  padding: 52px 146px;
  background: $color-light;

  &-form {
    width: 400px;
    position: absolute;
    top: 42%;
    left: 54%;
    transform: translate(-50%, -50%);
  }
}
