.forget {
  height: 100vh;
  padding: 52px 146px;

  .arco-steps-label-horizontal:not(.arco-steps-vertical)
    > .arco-steps-item:not(:last-child)
    .arco-steps-item-title::after {
    background-color: var(--color-border-4);
  }

  &-form {
    width: 400px;
    position: absolute;
    top: 42%;
    left: 54%;
    transform: translate(-50%, -50%);
  }
}
