@import '@/assets/color.scss';

.chat {
  height: 100vh;

  &-header,
  &-content,
  &-footer {
    background-color: $color-light;
  }

  &-content,
  &-footer {
    padding: 0 18px;
    -webkit-app-region: no-drag;
  }

  &-header {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 24px;
    border-bottom: 1px solid $color-border-3;
    font-size: 18px;
    text-align: center;
    user-select: none;
  }

  &-content {
    padding-top: 20px;
    height: calc(100vh - 196px);
    overflow-y: auto;
  }

  &-footer {
    // height: 26vh;
    border-top: 1px solid $color-border-3;

    &-toolbar {
      padding: 8px 0;
    }

    .ant-input {
      padding: 0;
    }

    .ant-btn-primary {
      float: right;
    }
  }
}
