@import '@/assets/color.scss';

.menubar {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 0;

  &-item {
    width: 48px;
    display: inline-block;
    -webkit-app-region: no-drag;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $color-border-1;
    }

    &:last-child {
      &:hover {
        .anticon {
          color: $color-light;
        }
        background-color: $color-danger-1;
      }
    }
  }

  .anticon {
    color: $color-light;
  }
}
