@import '@/assets/color.scss';

.user {
  height: 100vh;

  &-main {
    height: 100%;
    background-color: $color-border-2 !important;

    &-nav {
      background: $background-3;
      .navbar {
        height: 28px;
        &-item {
          line-height: 28px;
        }
      }
    }

    .panel {
      height: 100vh;
      padding: 8px 0;
      background-color: $background-5;
      -webkit-app-region: no-drag;

      &-search {
        position: absolute;
        top: 6px;
        left: 12px;

        .ant-input-affix-wrapper {
          -webkit-app-region: no-drag;
          background-color: $background-2 !important;
        }
      }
    }
  }

  &-siderbar {
    text-align: center;
    padding: 24px 0;
    background: $background-4 !important;
    color: $color-light;

    &-status {
      position: absolute;
      top: 46px;
      right: 6px;

      &.ant-badge-status .ant-badge-status-dot {
        width: 8px;
        height: 8px;
      }
    }

    &-space {
      margin-top: 24px;
      -webkit-app-region: no-drag;

      .logout {
        position: absolute;
        bottom: 12px;
        left: 4px;
      }
    }

    .ant-btn {
      color: $color-light;
      &:hover {
        color: $color-light;
      }

      &.active {
        position: relative;
        color: $color-primary-2;
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}
