@import '@/assets/color.scss';

.user {
  height: 100vh;

  &-main {
    border-right: 1px solid $color-border-3;
    background-color: $color-border-2 !important;
    -webkit-app-region: no-drag;

    &-nav {
      .anticon {
        color: $color-text-1;
      }
    }
  }

  &-siderbar {
    text-align: center;
    padding: 24px 0;
    background: $background-3 !important;
    color: $color-light;

    &-status {
      position: absolute;
      top: 48px;
      right: 6px;

      &.ant-badge-status .ant-badge-status-dot {
        width: 8px;
        height: 8px;
      }
    }

    &-space {
      padding: 0 6px;
      margin-top: 28px;
      -webkit-app-region: no-drag;

      .logout {
        position: absolute;
        bottom: 8px;
      }
    }

    .ant-btn {
      color: $color-light;
      &:hover {
        color: $color-light;
      }
    }
  }
}
