@import '@/assets/color.scss';

.user {
  height: 100vh;

  &-main {
    border-right: 1px solid $color-border-3;
    background-color: $color-border-2 !important;
    -webkit-app-region: no-drag;
  }

  &-siderbar {
    text-align: center;
    padding: 24px 0;
    background: $background-3 !important;
    color: $color-light;
    -webkit-app-region: no-drag;

    &-space {
      padding: 0 6px;
      margin-top: 32px;
      .logout {
        position: absolute;
        bottom: 8px;
      }
    }

    .ant-btn {
      color: $color-light;
      &:hover {
        color: $color-light;
      }
    }
  }
}
