$color-primary-1: #1677ff;
$color-primary-2: #94bfff;
$color-primary-3: #6aa1ff;
$color-primary-4: #3b9feb;
$color-primary-5: #647dfb;
$color-danger-1: #ff4d4f;
$color-danger-2: #ff0000b3;
$color-warn: #faad14;
$color-success: #52c41a;
$color-text-1: #000000e0;
$color-text-2: #00000073;
$color-text-3: #00000040;
$color-light: #ffffff;
$color-border-1: #c9cdd4;
$color-border-2: #f7f8fa;
$color-border-3: #f2f3f5;
$color-border-4: #c9cdd4;
$color-gray-1: #6b7785;
$background: linear-gradient(
  270deg,
  rgba(0, 43, 220, 0.2) 0%,
  rgba(50, 222, 212, 0.2) 100%
);
$background-2: #f2f7f7;
$background-3: #363e47;
