.login {
  height: 395px;
  font-size: 12px;
  // background-color: linear-gradient(270deg, rgba(0, 43, 220, 0.2) 0%, rgba(50, 222, 212, 0.2) 100%);
  &-header {
    position: relative;
    height: 147px;
    background-image: url('../../assets/icons/background.svg');
    background-size: cover;
  }

  &-avatar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #deafc1;
    -webkit-app-region: no-drag;
    background-color: #fff;
  }

  &-content {
    padding-top: 18px;
    padding-left: 68px;
  }

  &-form {
    width: 340px;
    margin: 0 auto;
    -webkit-app-region: no-drag;

    .arco-checkbox-text {
      font-size: 12px;
    }
  }

  &-register {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
}
