.login {
  height: 100vh;
  font-size: 12px;

  &-header {
    position: relative;
    height: 100px;
    background-image: url('../../assets/icons/background.svg');
    background-size: cover;
  }

  &-avatar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid var(--color-primary-light-3);
    box-shadow: 0 0 22px var(--color-primary-light-4);
    -webkit-app-region: no-drag;
  }

  &-content {
    padding-top: 18px;
    padding-left: 68px;
  }

  &-form {
    margin: 0 auto;
    -webkit-app-region: no-drag;

    .arco-form {
      &-item {
        margin-bottom: 0;
      }
    }

    .arco-checkbox-text {
      font-size: 12px;
    }

    .arco-input-inner-wrapper {
      border: 1px solid var(--color-border-1);
      background-color: #fff;
    }
  }

  &-register {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
}

.dropdown-menu-item {
  height: auto;
  line-height: 24px;
  font-size: 13px;
}
