@import '@/assets/color.scss';

.login {
  height: 100vh;
  background: $color-light;

  &-header {
    position: relative;
    height: 100px;
    padding: 0;
    background-color: $color-light;
    background-image: url('../../assets/icons/background.svg');
    background-size: cover;
  }

  &-avatar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid $color-primary-2;
    box-shadow: 0 0 20px rgb(75, 157, 226);
    -webkit-app-region: no-drag;
    pointer-events: none;
  }

  &-content {
    padding: 18px 56px 0;
  }

  &-form {
    -webkit-app-region: no-drag;
    .ant-form-item {
      margin-bottom: 14px;
    }
  }

  &-register {
    position: absolute;
    font-size: 12px;
    bottom: 8px;
    left: 8px;
  }
}
